*.o
*.lo
*.la
polarhrm
simulate
test
.deps
.libs
Makefile
Makefile.in
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
config.log
autom4te.cache
INSTALL
config.status
libtool
missing
stamp-h1
